.box {
  font-size: 30px;
  text-align: center;
  background-color: cadetblue;
  color: rgb(21, 46, 187);
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #box-1 {
    display: block;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #box-2 {
    display: block;
    background-color: crimson;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #box-3 {
    display: block;
    background-color: rgb(84, 148, 116);
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  #box-4 {
    display: block;
    background-color: rgb(104, 104, 128);
    color: rgb(84, 148, 116);
    border: 2px solid violet;
  }
}
