html {
  background-color: lightcoral;
  padding: 10px;
}

body {
  background-color: lightgreen;
  padding: 10px;
  margin: 0;
  position: relative;
  top: 100px;
}

header {
  background-color: magenta;
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  background-color: magenta;
  margin: 10px;
  position: relative;
  top: 100px;
}

footer {
  background-color: magenta;
  margin: 10px;
}
