ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px dotted rgb(25, 12, 171);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

li {
  border: 1px solid firebrick;
  margin: 0.5em;
  padding: 0.5em;
}

.flex-1 {
  order: 1;
  flex-basis: 1 1 10em;
  border: 4px dotted rgb(233, 167, 25);
}

.flex-2 {
  flex: 3 3 10em;
  order: 2;
  border: 6px dotted rgb(4, 80, 28);
}
